body {
    background-image: url("https://dog12312.github.io/desktop.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.taskbar {
    position: fixed;
    background:  #000;
    z-index: 100; 
    bottom: 1; 
    left: 0;
    width: 100%;
}
