body {
    background-image: url("https://www.sevenforums.com/attachments/tutorials/173429d1314981906-desktop-background-change-img0.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
