body {
    background-image: url("/desktop.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
taskbar {
    position: fixed;
    background:  #000;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
}
